.DraftEditor-root, .DraftEditor-editorContainer, .public-DraftEditor-content {
  height: 100%;
}

/*设置默认样式*/
.fs-editor-container .fs-editor-content {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.fs-editor-container .fs-editor-content h1, .fs-editor-container .fs-editor-content h2 {
  margin-top: 10px;
  font-weight: normal;
  color: #333;
}
.fs-editor-container .fs-editor-content h1 {
  font-size: 20px;
}
.fs-editor-container .fs-editor-content h2 {
  font-size: 18px;
}
.fs-editor-container .fs-editor-content ol > li {
  list-style-type: decimal!important;
}
.fs-editor-container .fs-editor-content ul > li {
  list-style-type: disc!important;
}
.fs-editor-container .fs-editor-content ol,
.fs-editor-container .fs-editor-content ul {
  margin-left: 20px;
  padding-left: 0;
}

.fs-editor-container {
  border: 1px solid #c7c8c8;
  border-radius: 3px;
}

.fs-editor-content {
  box-sizing: border-box;
  padding: 12px;
  overflow-y: auto;
}
